# Node.js & npm
node_modules/
package-lock.json

# VS Code
.vscode/

# Çevresel Değişkenler (API Anahtarları vb.)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Derleme Çıktıları
dist/
build/
out/

# Ön Bellek ve Log Dosyaları
.cache/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# İşletim Sistemi Dosyaları
.DS_Store
Thumbs.db

# Git Ignore Test Dosyaları
!.gitignore

# IDE/Editor Dosyaları
.idea/
*.iml

# Webpack / Babel / TypeScript
.parcel-cache/
.next/
.nuxt/
.svelte-kit/

# Trendyol API Anahtarlarını Gizlemek İçin
trendyol-config.json

.env
/img/